

/* IMPORTACIONES - FUENTES */
@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');


/* ESTABLECER LAS VARIABLES EN NUESTRO CSS
    - Paleta de colores
    - Tipografías
    - Medidas (opcional)
*/



/* root -> hace referencia a raiz (<!DOCTYPE html>) */
:root {
    /* paleta de colores */
    --colorFondo: #D8C37F;
    --colorEnfasis1: #A4AE20;
    --colorEnfasis2: #C57023;
    --colorEnfasis3: #7B361A;
    --colorText: #d9d09e85;
    --colorText2: #19160A;

    /* Fuentes */
    --textTitle: 'Ysabeau SC', sans-serif;
    --textContent: 'Quito', sans-serif;
}


/* Condiciones o estilos iniciales de mi página*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
    width: 100%;
    height: auto;

    /* Overflow-x -> sirve para definir qué pasa con el contenido que sobresale de mi contenedor */
    overflow-x: hidden;
}

/* ---------------HEADER--------------- */

header{
    width: 100%;
    height: 100px;
}

.menu_navegacion{
    /* IMPORTANTE: dar dimensiones */
    background-color: var(--colorEnfasis3);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}



.logo{
    height: 100%;
}



.logo a{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--textContent);
    color: var(--colorText);

    /* Grosor de la fuente */
    font-weight: bold;

    /* Cambair el tamaño de la fuente */
    font-size: 25px;
}



.p_logo{
    width: 150px;

    /* Alineacioón del texto */
    text-align: left;
}



.span_logo{
    color: var(--colorEnfasis1);

}



.img_logo{
    height: 100%;
}



.lista_menu{
    display: flex;
    gap: 50px;
    list-style: none;
}



.lista_menu a{
    text-decoration: none;
    color: var(--colorText);
    font-family: var(--textContent);
    font-size: 20px;
}



.lista_menu a:hover{
    color: var(--colorEnfasis1);
}


/* ----------------MAIN---------------- */

main{
    width: 100%;
    padding: 100px;
}



.contenedor_principal{
    font-family: var(--textContent);
}



.contenedor_principal h1{
    font-family: var(--textTitle);
    font-size: 40px;
    color: var(--colorEnfasis3);
}



.contenedor_imagenes{
    border: 3px solid var(--colorEnfasis3);
    margin-top: 50px;
    border-radius: 50px;
}






/* ---------------FOOTER--------------- */

footer{
    border: 5px solid red;
    height: 100px;
    background-color: var(--colorEnfasis3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: var(--textContent);
    color: var(--colorText);
}

