

/* ESTO ES UN COMENTARIO EN CC */

/* Guía paso a paso, que se recomienda para trabajar en cc */

/* 

    1. Verificar que se haya vinculado  bien el css con el html 

        ej: 

        body{
            background-color: red;
        }

    2. Tener un orden definido

        CSS -> Hoja de estilos en cascada

*/

/* Lo primero son las importaciones */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Serif", serif;
} */

/* Establecer las variables de CSS:
Paleta de colores, tipografías, medidas que se repitan constantemente. */


/* 
    Selectores: 
        -Etiqueta: General

        -Clases: un poco más específicas (varios elementos pueden tener la misma clase) -> .

        -ID: sumamente específicos (cada elemento sólo puede tener uno) -> #

        Pseudoclases: Elementos propios de CSS que me hacen referencia a mi Html -> características particulares -> :root

        Pseudoelementos: -> ::after

 */


 /* pseudoclase que me hace referencia a todo mi html, root -> códico raiz */
 :root{
    --tipografia: 'Noto Serif', serif;
    --colorFondo: #d7dee3;
    --colorClaro: #6A2ECC;
    --colorTexto: #010006;
    --colorContraste: #000177;
 }

 /* Condiciones iniciales */
 /* Los estilos que quiero en TODO MI SITIO WEB */


 /* * -> Selector universal: le aplica los estilos a TODO */
 *{
    /* margin: margen externo */
    margin: 0;
    /* padding: margen interno */
    padding: 0;
 }


 body{
    
    /* Ancho del tamaño de mi pantalla */
    width: 100%;


    /* background-color -> color de fondo */
    background-color: var(--colorFondo);
    /* font-family -> tipografía */
    font-family: var(--tipografia);
    /* color -> color del texto */
    color:var(--colorTexto);
    /* Quitar el scroll horizontal
    overflow -> si se sobre sale el contenido hidden -> para esconderlo */
    overflow-x: hidden;
    /* box-sizing: border box para ajustar mis dimensiones */
    box-sizing: border-box;

 }


/* ---------------HEADER------------- */


/* Contenedor padre (Header), determinar las dimensiones de los espacios */
header{
   

    /* width: ancho */
    /* vw -> ancho de pantalla */
    width: 100vw;

    /* vh -> alto de pantalla */
    height: 100vh;


}

/* Lo que está dentro del header son hijos */

.menu_Nav{
    background-color: var(--colorClaro);
    width: 100%;
    height: 10%;
}


/* Contenedor padre de las listas que quiero modificar una al lado de la otra */
.lista_Menu{

    height: 100%;
   

      /* Disposicón flexible -> pone los elementos uno al lado del otro */
    display: flex;

    /* centrar en x */
    justify-content: center;

    /* centrar en y */
    align-items: center;

    /* separaciones entre elementos hijos (listas) */
    gap: 50px;

    /* Quitar viñetas de la lista */
    list-style: none;



}


.lista_Menu a {
    
    /* Quitar la decoración del texto */
    text-decoration: none;

    /* Color de texto */
    color: var(--colorTexto);

    /* Tamaño de texto */
    font-size:20px;

    /* Más gruesa la letra -> negrita */
    font-weight: bold;
}



.lista_Menu a:hover{
    color: white;
}



.logo{
    height: 50px;
    width: 50 px;
}



/* banner */
/* Contenedor padre de la imágen */
.banner{
   
    height: 90%;
    width: 100%;
}


/* Mi imágen ocupa todo el espacio de su padre */
.banner img{
    width: 100%;
    height: 100%;
}






/* ---------------MAIN--------------- */

main{
   
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Que se dispongan una debajo de la otra */
    flex-direction: column;

}




/* Sección 1 */

.seccion1{
    width: 80%;
}

#div_video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#div_video iframe{
    width: 50%;

}



#div_video p{
    width: 50%;
}



/* Sección 2 */

.seccion2{
    width: 80%;
}


.contenedor_img{
 
    /* Organizar en filas y columnas */
    display: grid;

    /* Para las filas */
    /* 1fr es que ocupe una fracción del espacio */
    grid-template-rows: 1fr 1fr;

    /* Para las columnas */
    grid-template-columns: 1fr 1fr 1fr;

    gap: 2px;
}


.contenedor_img img{
    width: 100%;
}



.titulo{

    /* Centrar texto */
    text-align: center;

    /* Texto en mayúscula */
    text-transform: uppercase;

    /* Márgen al texto arriba y abajo - derecha e izquierda*/
    margin: 20px 0px;


}







/* ---------------FOOTER------------- */

